*.tlog
*.log
*.Cache
*.pdb
*.user
*.filters
*.obj
*.bi
*.lastbuildstate
*.resources
*.vcxproj
*.resx
DigitalFencing/Python/slider
DigitalFencing/Python/ColourTracker.py
DigitalFencing/Python/simple_colour_thresholding.py
DigitalFencing/Python/objectDetection.py